# First, ignore everything
/*
# Opus
!/nRF5_SDK_15.3.0_59ac345
/nRF5_SDK_15.3.0_59ac345/*
!/nRF5_SDK_15.3.0_59ac345/external
/nRF5_SDK_15.3.0_59ac345/external/*
!/nRF5_SDK_15.3.0_59ac345/external/opus
#Toolchain
!/nRF5_SDK_15.3.0_59ac345
/nRF5_SDK_15.3.0_59ac345/*/nRF5_SDK_15.3.0_59ac345
/nRF5_SDK_15.3.0_59ac345/*
!/nRF5_SDK_15.3.0_59ac345/components/
/nRF5_SDK_15.3.0_59ac345/components/*
!/nRF5_SDK_15.3.0_59ac345/components/toolchain/
/nRF5_SDK_15.3.0_59ac345/components/toolchain/*
!/nRF5_SDK_15.3.0_59ac345/components/toolchain/gcc
#/nRF5_SDK_15.3.0_59ac345/components/toolchain/gcc/*

# Project i2sTobi
!/nRF5_SDK_15.3.0_59ac345/examples
/nRF5_SDK_15.3.0_59ac345/examples/*
!/nRF5_SDK_15.3.0_59ac345/examples/peripheral
/nRF5_SDK_15.3.0_59ac345/examples/peripheral/*
!/nRF5_SDK_15.3.0_59ac345/examples/peripheral/i2sTobi
!/nRF5_SDK_15.3.0_59ac345/examples/peripheral/i2sUart

# Thead
nRF5_SDK_for_Thread_and_Zigbee_v3.2.0_9fade31/components/*
nRF5_SDK_for_Thread_and_Zigbee_v3.2.0_9fade31/config/*
nRF5_SDK_for_Thread_and_Zigbee_v3.2.0_9fade31/documentation/*
nRF5_SDK_for_Thread_and_Zigbee_v3.2.0_9fade31/external/*
nRF5_SDK_for_Thread_and_Zigbee_v3.2.0_9fade31/external_tools/*
nRF5_SDK_for_Thread_and_Zigbee_v3.2.0_9fade31/integration/*
nRF5_SDK_for_Thread_and_Zigbee_v3.2.0_9fade31/modules/*
nRF5_SDK_for_Thread_and_Zigbee_v3.2.0_9fade31/examples/*
!nRF5_SDK_for_Thread_and_Zigbee_v3.2.0_9fade31/examples/thread/
nRF5_SDK_for_Thread_and_Zigbee_v3.2.0_9fade31/examples/thread/*
!nRF5_SDK_for_Thread_and_Zigbee_v3.2.0_9fade31/examples/thread/cliOpus
!nRF5_SDK_for_Thread_and_Zigbee_v3.2.0_9fade31/examples/thread/cliTobi
!nRF5_SDK_for_Thread_and_Zigbee_v3.2.0_9fade31/examples/thread/cli
!nRF5_SDK_for_Thread_and_Zigbee_v3.2.0_9fade31/examples/thread/802154_rec
!nRF5_SDK_for_Thread_and_Zigbee_v3.2.0_9fade31/examples/thread/802154_trans
!nRF5_SDK_for_Thread_and_Zigbee_v3.2.0_9fade31/components/thread
!nRF5_SDK_for_Thread_and_Zigbee_v3.2.0_9fade31/external/openthread

/wpantund/
/openthread/
/nRF5_SDK_15.3.0_59ac345/
/nRF5_SDK_15.0.0_a53641a/
/nRF52ExtendedAdvertisementsBluetooth5/*
/nrf51-ble-tutorial-advertising/*
nrf51-ble-tutorial-advertising/
/nRF-IEEE-802.15.4-radio-driver/

# And all the file types you're interested in.
!.gitignore
!README.md

*.zip
*.pdf
*.bin
*.emSession
*.xml
*.msi
*SEGGER_RTT_Syscalls_SES.asm

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp
*.ld

# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Exclude Folders
**/pca10040/*
**/arm4/*
**/arm5_no_packs/*
**/iar/*
**/_build/*
**/Output/*
